{% extends "base.html" %}
{% block content %}
<!--index.html-->
{% if object_list %}
<h3>Daily Cashflow Reports</h3>
{% endif %}

{% for daily_object in object_list %}
    <div
        role="button"
        onclick="location.href='{% url "item-list" monthly_input_list.id daily_object.id %}'">
        {{ daily_object.title}}
    </div>
        
    <ul>
        <div
            role="button"
            onclick="location.href='{% url "list-update" monthly_input_list.id daily_object.id %}'">
            Edit: {{ daily_object.title }}
        </div>
    </ul>    

{% empty %}
<h4>There are no transaction entries to display</h4>
{% endfor %}


<table>
<tr>
    <th>Total Deposits</th>                     
    <th>Total Expenses</th>
    <th>Net Difference</th>                                                     
    <th>Total Investments</th>
    <th>Total Going Out & Eating Out Expenses</th>                                                  
    <th>Total Car Expenses</th>
    <th>Total Rent Expenses</th>    
    <th>Total Misc Expenses</th>                                          
    <th>Total Loan Expenses</th>
    <th>Total Subscription Expenses</th>
    <th>Total Grocery Expenses</th>
</tr>
<tr>
    <td>${{ deposit_total|floatformat:2 }}</td>
    <td>${{ expense_total|floatformat:2 }}</td>
    <td>${{ net_difference|floatformat:2 }}</td>
    <td>${{ investment_total|floatformat:2 }}</td>
    <td>${{ goeo_total|floatformat:2 }}</td>
    <td>${{ car_total|floatformat:2 }}</td>
    <td>${{ rent_total|floatformat:2 }}</td>
    <td>${{ miscellaneous_total|floatformat:2 }}</td>
    <td>${{ loan_total|floatformat:2 }}</td>
    <td>${{ subscription_total|floatformat:2 }}</td>
    <td>${{ grocery_total|floatformat:2 }}</td>
</tr>
</table>

<p>
    <input
        value="Create new"
        type="button"
        onclick="location.href='{% url "list-add" monthly_input_list.id %}'"/>
</p>

<p>
    <input
        value="Home"
        type="button"
        onclick="location.href='{% url "index" %}'"/>
</p>

{% endblock %}