{% extends "base.html" %}
{% block content %}
<!--index.html-->
{% if object_list %}
<h3>Daily Cashflow Reports</h3>
{% endif %}

{% for daily_object in object_list %}
    <div
        role="button"
        onclick="location.href='{% url "item-list" monthly_input_list.id daily_object.id %}'">
        {{ daily_object.title}}
    </div>
        
    <ul>
        <div
            role="button"
            onclick="location.href='{% url "list-update" monthly_input_list.id daily_object.id %}'">
            Edit: {{ daily_object.title }}
        </div>
    </ul>    

{% empty %}
<h4>There are no transaction entries to display</h4>
{% endfor %}

<p>
    <input
        value="Add a report"
        type="button"
        onclick="location.href='{% url "list-add" monthly_input_list.id %}'"/>
</p>

<p>
    <input
        value="Home"
        type="button"
        onclick="location.href='{% url "index" %}'"/>
</p>


<table>
    <tr>
        <th>Total Income</th>
    </tr>
    <tr>
        <td>${{ deposit_total|floatformat:2 }}</td>
    </tr>
</table>


<table>
    <tr>
        <th>Total Expenses</th>
    </tr>
    <tr>
        <td>${{ expense_total|floatformat:2 }}</td>
    </tr>
</table>

<table>
    <tr>
        <th>Total Investments</th>
    </tr>
    <tr>
        <td>${{ investment_total|floatformat:2 }}</td>
    </tr>
</table>

<table>
    <tr>
        <th>Net Difference | Income vs. Expense</th>
    </tr>
    <tr>
        <td>${{ net_difference|floatformat:2 }}</td>
    </tr>
</table>

<table>
    <tr>
        <th>Total Going Out & Eating Out Expenses</th>
    </tr>
    <tr>
        <td>${{ goeo_total|floatformat:2 }}</td>
    </tr>
</table>

<table>
    <tr>
        <th>Total Car Expenses</th>
    </tr>
    <tr>
        <td>${{ car_total|floatformat:2 }}</td>
    </tr>
</table>

<table>
    <tr>
        <th>Total Rent Expenses</th>
    </tr>
    <tr>
        <td>${{ rent_total|floatformat:2 }}</td>
    </tr>
</table>

<table>
    <tr>
        <th>Total Misc Expenses</th>
    </tr>
    <tr>
        <td>${{ miscellaneous_total|floatformat:2 }}</td>
    </tr>
</table>

<table>
    <tr>
        <th>Total Loan Expenses</th>
    </tr>
    <tr>
        <td>${{ loan_total|floatformat:2 }}</td>
    </tr>
</table>

<table>
    <tr>
        <th>Total Subscription Expenses</th>
    </tr>
    <tr>
        <td>${{ subscription_total|floatformat:2 }}</td>
    </tr>
</table>

<table>
    <tr>
        <th>Total Grocery Expenses</th>
    </tr>
    <tr>
        <td>${{ grocery_total|floatformat:2 }}</td>
    </tr>
</table>

{% endblock %}